# Development

## Configuration Files
**/.config/*.config.*

!**/.config/example.config.*
!**/.config/default.config.*

### dotenv
*.env
*.env.*

!.env.default*
!*.env.default.*

!*.default.env
!*.default.env.*

!*.env.example
!*.env.example.*

!*.example.env
!*.example.env.*

## IDEs

### JetBrains Intellij
**/.idea

*.iml
*.iws
*.ipr

### Visual Studio Code
**/.vscode
**/.vscode-test

!**/.vscode/extensions.json
!**/.vscode/launch.json
!**/.vscode/settings.json

## Services and Platforms

### Nix
!**/flake.lock

### Windows Subsystem for Linux (WSL)
**/*:Zone.identifier

### OpenNext (Cloudflare)
**/.open-next
**/.wrangler
**/.vercel

### Supabase
**/supabase/temp

### Vercel
**/.vercel

# Language Specific

## Node.js
**/.DS_STORE
**/.pnp
**/.pnp.*
**/.vercel
**/.yarn/install-state.gz
**/build
**/node_modules

#### Jest
**/.swc
**/coverage

### File Extensions
!**/*.lock
!**/*-lock.*

**/*.tsbuildinfo
**/yarn-error.log

### Frameworks

#### Deno
**/deno.json
**/deno.jsonc

#### Next.js
**/.next
**/out

**/next-env.d.ts

## Python
**/__pycache__
**/.pytest_cache
**/venv

## Rust
**/target

!**/Cargo.lock

**/*.rs.bk
**/*.rs.bk.*

# Miscellaneous
**/.DS_Store
**/.artifacts/data
**/.artifacts/logs
**/.artifacts/tmp
**/build
**/coverage
**/debug
**/dist
**/release

## File Extensions
*.bak
*.bak.*

*.bk
*.bk.*

*.db
*.db.*

*.log
*.log.*

*.pem
*.pem.*

*.gz
*.gz.*

*.sqlite
*.sqlite.*

*.zip
*.zip.*
