:root {
  --color-info: oklch(0.70286 0.21605 145.705);
  --color-info-foreground: oklch(0.25 0.21605 145.705);
  --color-warning: oklch(0.85 0.15 90);
  --color-warning-foreground: oklch(0.2 0.15 90);

  --color-sea-green: oklch(0.57084 0.10511 230.987);
  --color-sea-green-foreground: oklch(0.1 0.10511 230.987);
}

.dark {
  --color-info: oklch(0.35 0.21605 145.705);
  --color-info-foreground: oklch(0.8 0.21605 145.705);
  --color-warning: oklch(0.2 0.15 90);
  --color-warning-foreground: oklch(0.85 0.15 90);
}

@theme inline {
  --color-info: var(--color-info);
  --color-info-foreground: var(--color-info-foreground);
  --color-warning: var(--color-warning);
  --color-warning-foreground: var(--color-warning-foreground);
}
