/* This stylesheet is dedicated towards customizing the various colors used within the application and its components */

:root {
  --color-error: #dc3545;
  --color-success: #28a745;
  --color-warning: #ffc107;

  /* Custom colors */
  --color-offblue: #9dffff; /* Example accent color */
  --color-offpurple: #a5abff; /* Example accent color */
  --color-offgreen: #b2ff9d; /* Example accent color */
  --color-offyellow: #ffff9d; /* Example accent color */
  --color-offred: #ff9d9d; /* Example accent color */
  --color-offorange: #ffb59d; /* Example accent color */
}
