name: Docker

concurrency:
  cancel-in-progress: false
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  pull_request:
    branches: [main, master]
    types: [opened, ready_for_review, reopened]
  push:
    branches: [main, master]
    tags: [latest, v*.*.*, "*-nightly"]
  repository_dispatch:
    types: [docker, dockerhub, docker-publish]
  workflow_dispatch:

permissions:
  actions: read
  attestations: write
  contents: read
  deployments: write
  id-token: write
  packages: write

jobs:
  app:
    environment: 
      name: dockerhub
      url: https://hub.docker.com/r/${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Docker Metadata
        uses: docker/metadata-action@v5
        id: meta
        with:
          flavor: latest=true
          images: ${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          username: ${{ vars.DOCKERHUB_USERNAME }}
      - id: build
        name: Build & Push the image to DockerHub
        uses: docker/build-push-action@v6
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          context: ./app
          file: ./app/Dockerfile
          github-token: ${{ github.token }}
          platforms: linux/amd64
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          tags: ${{ steps.meta.outputs.tags }}
      - id: attestation
        if: ${{ !github.event.repository.private }}
        name: Establish Proveance
        uses: actions/attest-build-provenance@v3
        with:
          push-to-registry: false
          subject-digest: ${{ steps.build.outputs.digest }}
          subject-name: ${{ github.event.repository.name }}