name: Docker CI/CD

concurrency:
  cancel-in-progress: false
  group: ${{ github.workflow }}-${{ github.ref }}

on:
  pull_request:
    branches: [main, master]
    types: [opened, ready_for_review, reopened]
  push:
    branches: [main, master]
  release:
    types: [published]
  repository_dispatch:
    types: [containers, docker]
  workflow_dispatch:

env:
  REGISTRY: hub.docker.com

jobs:
  dockerhub:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source
        uses: actions/checkout@v5
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Publish
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          context: .
          dockerfile: Dockerfile
          name: ${{ vars.DOCKERHUB_USERNAME }}/${{ github.event.repository.name }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          platforms: linux/amd64
          snapshot: true
          tags: "latest"
          username: ${{ vars.DOCKERHUB_USERNAME }}
